NODE_ENV="development"
API_PORT="8000"
DATABASE_URL="postgresql://postgres:postgres@localhost:15432/monorepo_template"
REDIS_URL="redis://localhost:16379"
DOCKER_DATABASE_URL="postgresql://postgres:postgres@postgres:5432/monorepo_template"
API_HOST_PORT="8000"
VITE_API_URL="http://localhost:8000"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:8000"
CLIENT_ORIGINS="http://localhost:3000"
